<video controls height="0" width="0" id="html5_player">
  <source src="/music/01.mp3">
</video>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div id="navbar">
          <ul class="nav navbar-nav navbar-right controls">
            <li>
	      <a class="big" ng-click="play()">
		<span class="glyphicon glyphicon-play-circle"></span>
	      </a>
	      <a class="big" ng-click="stop()">
		<span class="glyphicon glyphicon-stop"></span>
	      </a>
	    </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
